/**
* @file /src/app/courses/index.jsx
*/
.prkjzUB0{padding: 25px 15%;}
.dBgCaR{display:grid;}
.g0BBtyk{grid-template-columns: repeat(5,1fr);}
.gdv5ca0{gap: 20px;}
/**
* @file /src/app/courses/item.jsx
*/
.waBbCMP{width: 100%;}
.hQklCvn{height: 300px;}
.dgbsBB{display:flex;}
.fEXive{flex-direction:column;}
.brE5tOZ{background: #fff;}
.bqLohRB{border-radius: var(--radius);}
.hlJ2UDD{height: 150px;}
.mnkWt4O{margin-bottom: 15px;}
.fB4pieP{font-size: 18px;}
.f8QaiEE{font-weight: 900;}
.fXdNIDg{font-size: 16px;}
/**
* @file /src/app/done.jsx
*/
.wbzkHNJ{width: 500px;}
.pGpbI38{padding: 20px;}
.aRefo0{align-items:center;}
.jQ4T9A{justify-content:center;}
.fdrns9Q{font-size: 50px;}
.mbaBtOg{margin-bottom: 25px;}
.cXE0UEj{color: var(--red-800);}
.c4krskq{color: var(--green-700);}
.fXdZS1d{font-size: 24px;}
.f34czo{font-weight: bold;}
/**
* @file /src/app/error.jsx
*/
.p51uAJ{position:absolute;}
.tybIBW{top: 50%;left: 50%;transform: translate(-50%, -50%);}
.cObJUAV{color: #777;}
.f5aAhOw{font-size: 30px;}
.mzQEH07{margin-top: 20px;}
/**
* @file /src/app/footer.jsx
*/
/**
* @file /src/app/header.jsx
*/
.pQ31Fyp{padding: 40px 2vw;}
.poXFA4{position:relative;}
.zqdBFEX{z-index: 99;}

.hXVkiEW{height: 70px;}
.gpAAUbo{gap: 30px;}
.fqPGSJX{flex: 1;}
.b95AUMb{background-image: linear-gradient(to right, red, purple);}
.c1WWsGG{color: transparent;background-clip: text;-webkit-background-clip: text;}
.pNkQFQp{padding: 12px !important;}
.tV1TpE{text-decoration:none;}
.foeptnD{font-size: 15px;}
.wOPTAd{white-space: pre;}
/**
* @file /src/app/layout.jsx
*/
/**
* @file /src/app/page.jsx
*/
.zMZZsRX{z-index: 3;}
.wwmGCX8{width: 400px;}
.fLodse4{font-size: 80px;}
.fQM5U9W{font-size: 20px !important;}
.pgP8dtmv{padding: 15px 50px !important;}
.mGpAiWQ{margin-top: 50px;}
.b1o2UZm{background-image: linear-gradient(to right, red, purple) !important;}
.bvGDCB3{border-radius: 25px !important;}
.wdJph0Z{width: 100vh;}
.hly9hA3{height: 100vh;}
.r1ZPsp7{right: 0px;}
.zpMZsA1{z-index: 1;}
.fBjrCQO{filter: blur(100px);}
.oJoktDp{opacity: 0.15;}
/**
* @file /src/app/u/recover/page.jsx
*/
.mMaElUBq{min-height: calc(100vh - 70px);}
.gJzVTZA{gap: 12px;}
.mOomtWE{margin-bottom: 30px;}
.mo3dsBX{margin-top: 25px;}
.mmkwt34{margin-top: 35px;}
/**
* @file /src/app/u/recover/update/page.jsx
*/
.mEZG9BClB{min-height: calc(100vh - 150px);}
/**
* @file /src/app/u/recover/verify/[[...token]]/page.jsx
*/
.wl4RFqE{width: 350px;}
.mNzbFwb{margin-bottom: 10px;}
.t7Vid5{text-align: center;}
.f8vrTmX{font-size: 40px !important;}
/**
* @file /src/app/u/signin/page.jsx
*/
/**
* @file /src/app/u/signup/page.jsx
*/
.m1nMhQP{margin-top:35px;margin-bottom:35px;}
/**
* @file /src/app/u/verify/[[...token]]/page.jsx
*/
/**
* @file /src/app/wrapper.jsx
*/
.mG9RiNP{min-height: 100vh;}
/**
* @file /src/config.jsx
*/
/**
* @file /src/middleware.jsx
*/
/**
* @file /src/ui.jsx
*/
.bpAPIEM{background: var(--input);}
.bqk2iEM{border: 0px;}
.p9RZCMX{padding: 12px;}
.cav7ubO{color: var(--text);}
.fwLlc7e{font-size: var(--text-size);}
.bQoyUv9{background: var(--primary);}
.prWourV{padding: 12px 20px;}
.ck2ATm9{color: var(--btn-text);}
.zKJjzK{&:hover{background: var(--primary-hover);}}
.zKERWY{&:hover{text-decoration:underline;}}
.cMD9fJP{color: var(--primary);}


/**
*Extra Small Devices (Phones)
*/
@media screen and (max-width: 599px){
.zxpnAY{padding: 20px;}
}